<!-- develop*tes -->
<div>
  <h1>Develop*tes</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">


            <div class="card">

              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525362901/devlop%2Ates/A._avisse.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Mere codeuse acharnee !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356065/devlop%2Ates/A._Flourou.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Une codeuse qui nous mene a la baguette !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356066/devlop%2Ates/J._leveque.png"
              />
              <div class="card-block">

                <p class="card-text">
                  La montagne du code !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356067/devlop%2Ates/J._Zietek.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le maitre inconteste des katas !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- devPool -->
<div>
  <h1>devPool</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card">

              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525366322/devPool/Y._HERMELINE.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le stich du code français !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525366164/devPool/V._Malleron.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Toujours un sourire lorsqu'il se met a coder !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525365942/devPool/G._de_stefano_1.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Il code aussi bien sans chaussures que sans cheveux !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525365794/devPool/H._goma.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le chat-cyborg du dev !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- LAMA -->
<div>
  <h1>La Team LAMA</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card">

              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525369528/LAMA/A._Coin.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le beau-gosse du coding français !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525369715/LAMA/A._Teyssier.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Quand il code, c'est souvent Touche Coule !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525369718/LAMA/L._Lucas.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Les muscles du coding français !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525369527/LAMA/M._MEANA.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le breton-chetif du web !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MyLittlePoney -->
<div>
  <h1>My Little Pony</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card">

              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356151/My%20little%20pony/A._LEE.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Toujours sur la vague du web !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356149/My%20little%20pony/A._TRAMPOL.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Discret, mais redoutable !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356150/My%20little%20pony/C._Mezieres.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Doyen de l'evenement, souvent appelle le Tolier !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356148/My%20little%20pony/J._Dor%C3%A9.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Un chanteur en reconversion !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NoName -->
<div>
  <h1>No Name</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card">

              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525370737/noNam/A._POREE.png"
              />
              <div class="card-block">

                <p class="card-text">
                  BONSOIR !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525370732/noNam/B._CHAMPION.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le champion toute categorie !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525370735/noNam/O._DUBL%C3%A9.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Miss en reconversion !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525370733/noNam/Y._Martinez.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Codeur hors-pair, souvent avec un accent Africain !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Osefdunom-->
<div>
  <h1>Osefdunom</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="card">

              <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356018/Osefdunom/B._Burel.png"
              />
              <div class="card-block">

                <p class="card-text">
                  PARCE QUE C'EST SON PROJET !
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525427994/C._Bouve.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le Papa de la Wild !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356019/Osefdunom/G._Castellier.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le breton fou du JavaScript !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525356017/Osefdunom/L._Lanchon.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Aussi redoutable en graphisme qu'en code !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Part one-->
<div>
  <h1>Part One</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525372325/partOne/J._AVEL.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Aussi bon au ping-pong qu'en code !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525372326/partOne/A._MARTINS.png"
              />
              <div class="card-block">

                <p class="card-text">
                  En bonne voie vers les sommets !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525372328/partOne/A._PICHOT.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Autant de technique avec ses pieds, qu'avec ses doigts !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Part two-->
<div>
  <h1>Part Two</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525374073/partTwo/G._Bellamy.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le Nounours du web !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525374071/partTwo/B._Poupoune.png"
              />
              <div class="card-block">

                <p class="card-text">
                  La legende dit que l'elu s'appelle Poupoune !
                </p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://res.cloudinary.com/dpcas2fq7/image/upload/v1525374070/partTwo/G._cabaret.png"
              />
              <div class="card-block">

                <p class="card-text">
                  Le 3/4 face du code français !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>