<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark backround">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-home"></i> Accueil
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/teams" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list"></i> Teams
          </a>
        </li>
        <li>
          <a routerLink="/matches" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list"></i> Matches
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/news" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list"></i> News
          </a>
        </li>
        
        <li class="nav-item">
          <a routerLink="/billeterie" class="nav-link" routerLinkActive="active">
            <i class="fa fa-sign-out"></i> Billeterie
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>