<app-toast [message]="toast.message"></app-toast>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<div class="container-fluid">
		<div class="d-flex justify-content-end">
			<ul class="nav nav-pills">
				<li class="nav-item">
					 <a class="nav-link btn btn-primary" href="#"><i class="fab fa-facebook fa-lg"></i>

            <span class="badge badge-light">188513</span></a>
				</li>
				<li class="nav-item">
					 <a class="nav-link" href="#"><i class="fab fa-twitter fa-lg"></i><span class="badge badge-secondary">123680</span></a>
				</li>
			</ul>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-833">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-833">
					</li>
					<li data-slide-to="1" data-target="#carousel-833">
					</li>
					<li data-slide-to="2" data-target="#carousel-833" class="active">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item">
						<img class="d-block w-100" alt="Carousel Bootstrap First" src="../assets/images/keyboard.jpg" />
						<div class="carousel-caption">
							<h4>
								World Wild Cup 2018
							</h4>
							<p>
								Qui sera le plus Sauvage ?
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" alt="Carousel Bootstrap Second" src="../assets/images/comvm.png" />
						<div class="carousel-caption">
							<h4>
								Les célèbres commentateurs: Victor et Martin
							</h4>
							<p>
								Plus besoin de les présenter... Pour animer ce show sauvage, quoi de mieux que deux formateurs survoltés!
							</p>
						</div>
					</div>
					<div class="carousel-item active">
						<img class="d-block w-100" alt="Carousel Bootstrap Third" src="../assets/images/ziz.jpg" />
						<div class="carousel-caption">
							<h4>
								Le mot du président M. Cornuau :
							</h4>
							<p>
								"Aussi bien sur le plan technique que tactique, toutes les équipes devront sortir leur plus beau jeu !"
							</p>
						</div>
					</div>
				</div> <a class="carousel-control-prev" href="#carousel-833" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-833" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
			</div>
			<dl>
				<dt>
					Le concours.
				</dt>
				<dd>
					Pour sa première édition la Wild Code School présent dans 8 pays, rassemblent ses meilleurs Wilders lors d'un concours de développement qui s'annonce des plus féroce! Quel pays gagnera la World Wild Cup et soulèvera la coupe ? Rendez-vous le 27 Juillet 2018 à la Loupe.
				</dd>
				<dt>
					Les épreuves.
				</dt>
				<dd>
					Pour départager l'élite des Wilders, le concours se divisera en 3 épreuves: 
				</dd>
				<dd>
					Quart de finale: les équipes devront résoudre une série d'algorithme le plus vite possible. Cette épreuve se déroulera en 1vs1 et la 1ère des deux équipes remportera son ticket pour les demi-finales.
				</dd>
				<dd>
					Demi-finale: il ne restera plus que 4 équipes en liste et seulement deux pourront accéder à la finale. Pour cette épreuve, les Wilders s'affronteront sur une série de quêtes à finir où les différentes connaissances vu au cours de l'année seront abordés. Dnas le temps impartie, l'équipe qui aura complété le plus de quêtes remportera l'épreuve.
				</dd>
				
				<dd>
					Finale: A la manière d'un Hackaton, les deux équipes restantes devront dans un délai de 24 heures produire un projet et le présenter devant un jury. La meilleure des deux équipes soulèvera la coupe et marquera de son empreinte l'histoire de la Wild Code School.
				</dd>
			</dl>
		</div>
	</div>
</div>


